@import '../../../styles/base/settings';

.navbar__container {
    align-items: center;
    background-color: $black;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 2rem;
}

.navbar__item {
    color: $white;
    font-size: 1rem;
    cursor: pointer;
}